In [1]:
import pandas as pd
from datetime import datetime
from gsheets_connect import GoogleSheets, Connect
import helper_functions as hlp
from expense import Expense
import os
from credit_card_object import CreditCard
from log_expense_gui import LogExpenseForm, AvailableFilesForm

GSHEET_ID = '14a36tesQZ2AH0aIEdG5Ch2F8iVyrnXCvlxeASLX47N4'

GSHEET = GoogleSheets()

mnths_dict = {
    'Ene':'01','Feb':'02','Mar':'03',
    'Abr':'04','May':'05','Jun':'06',
    'Jul':'07','Ago':'08','Sep':'09',
    'Oct':'10','Nov':'11','Dic':'12'
}

# Helper Functions

In [2]:
def loadXlsx(file_path):
    data = pd.read_excel(file_path, header=None)
    
    ix_of_first = index_of_first_spend(data)
    lst_4_digits = try_finding_card_num(data)
    
    data = data.iloc[
        ix_of_first:,:3
    ].copy().reset_index(drop=True)
    
    # Date column as datetime
    data.iloc[:,0] = data.iloc[:,0].apply(
        lambda x: parse_date(x)[1]
    )
    
    # Amount column as float
    data.iloc[:,2] = data.iloc[:,2].apply(
        lambda x: parse_amount(x)
    )
    
    return data, lst_4_digits

def loadXls(file_path):
    file = pd.read_html(file_path)
    data = file[1]
    
    ix_of_first = index_of_first_spend(data)
    lst_4_digits = try_finding_card_num(data)
    
    data = data.iloc[
        ix_of_first:,[0,2,3]
    ].copy().reset_index(drop=True)
    
    # Date columns as datetime
    data.iloc[:,0] = data.iloc[:,0].apply(
        lambda x: parse_date(x)[1]
    )
    
    # Amount column as float
    data.iloc[:,2] = data.iloc[:,2].apply(
        lambda x: parse_amount(x)
    )
    
    return data, lst_4_digits

def get_available_files():
    data_sources = []
    cwd = os.getcwd()
    files_path = os.path.join(cwd,"input_data")
    dir_content = os.listdir(files_path)
    for file_name in dir_content:
        file_path = os.path.join(files_path, file_name)
        if file_path.endswith('.xlsx') or file_path.endswith('.xls'):
            data_sources.append(file_path)

    return data_sources

def open_file(file_path):
    if file_path.endswith('.xlsx'):
        loaded_data, lst_4_digits = loadXlsx(file_path)
    elif file_path.endswith('.xls'):
        loaded_data, lst_4_digits = loadXls(file_path)
    else:
        raise ValueError("Unable to open file: {0}".format(file_path))
    return loaded_data, lst_4_digits

def load_file(file_to_process):
    
    data, lst_4_digits = open_file(file_to_process)
    
    #print("Data loaded correctly \n")
    return data.dropna(), lst_4_digits

def index_of_first_spend(data_frame):
    for ix, row in data_frame.iterrows():
        val = row.iloc[0]
        if not pd.isnull(val) and parse_date(val)[0]:
            return ix
    return None

def try_finding_card_num(data_frame):
    
    for ix, row in data_frame.iterrows():
        val = row.iloc[0]
        if (
            'Adicional' in str(val) or 
            'Titular' in str(val) or 
            'No. de Cuenta' in str(val) or
            'Digital' in str(val)
        ):
            striped_str = ''.join(e for e in val if e.isalnum())
            # Will contain strings that are sequential numbers
            container = []
            # Will contain sequential numbers (not separated by characters)
            a_possible_num=[]
            for i, s in enumerate(striped_str):
                if is_num(s):
                    # keep appending this number
                    a_possible_num.append(s)
                    if i == len(striped_str)-1:
                        # its the end of the string
                        possible_num_str = ''.join(a_possible_num)
                        container.append(possible_num_str)
                else:
                    # non numeric character found in the string
                    possible_num_str = ''.join(a_possible_num)
                    container.append(possible_num_str)
                    a_possible_num=[]
            return [c for c in container if len(c)>=4][0][-4:]
    return '0000'

def parse_date(date_string):
    try:
        date_string = parse_month(date_string)
        date = datetime.strptime(date_string, '%d/%m/%Y')
        return (True, date)
    except (ValueError, TypeError):
        return (False, None)
    
def parse_amount(num_str):
    try:
        num = float(num_str)
    except ValueError:
        num = float(num_str.replace(',', ''))
    return num

def parse_month(date_string):
    for m,v in mnths_dict.items():
        if m in date_string:
            date_string = date_string.replace(m,v)
    return date_string

def update_expenses_data_frame(cur_df, expense, ignored=False):
    
    lst_ix = 0 if cur_df.shape[0] == 0 else cur_df.index.max()+1
    new_df = pd.DataFrame(index=[lst_ix], columns=cur_df.columns)
    
    new_df.iloc[0].loc["expense_id"] = expense.getId()
    new_df.iloc[0].loc["expense_date"]=expense.getDateAsString()
    new_df.iloc[0].loc["description"] = expense.getDescription()
    new_df.iloc[0].loc["amount"]=expense.getAmount()
    new_df.iloc[0].loc["installments"]=expense.getInstallments()
    new_df.iloc[0].loc["ignored"]=ignored
    new_df.iloc[0].loc["payment_method"]=expense.getPaymentMethod()
    new_df.iloc[0].loc["method_name"]=expense.getPaymentMethodName()
    
    cur_df = pd.concat([cur_df, new_df])
    
    return cur_df

def update_installments_data_frame(cur_df, expenses):
    
    for i, expense in enumerate(expenses):
        lst_ix = 0 if cur_df.shape[0] == 0 else cur_df.index.max()+1
        new_df = pd.DataFrame(index=[lst_ix], columns=cur_df.columns)
        
        new_df.iloc[0].loc["expense_id"] = expense.getId()
        new_df.iloc[0].loc["installment_amount"]=expense.getAmount()
        new_df.iloc[0].loc["expense_date"] = expense.getDateAsString()
        new_df.iloc[0].loc["expense_month"]=expense.getMonthNum()
        new_df.iloc[0].loc["payment_date"]=expense.getPaymentDateAsString()
        new_df.iloc[0].loc["payment_month"]=expense.getPaymentMonthNum()
        new_df.iloc[0].loc["total_installments"]=expense.getInstallments()
        new_df.iloc[0].loc["installment_num"]=str(i)
        new_df.iloc[0].loc["payment_method"]=expense.getPaymentMethod()
        new_df.iloc[0].loc["method_name"]=expense.getPaymentMethodName()
        new_df.iloc[0].loc["category"]=expense.getMainCategory()
        new_df.iloc[0].loc["sub_category"]=expense.getSubCategory()
        new_df.iloc[0].loc["payment_fortnight"]=expense.getPaymentFortnight()
        new_df.iloc[0].loc["description"]=expense.getDescription()
        
        cur_df = pd.concat([cur_df, new_df])
    
    return cur_df
            
def updateData(
    an_expense, 
    row, 
    category, 
    sub_category, 
    installments, 
    pay_method_type, 
    credit_card_used
):
    
    date, concept, amount = row
    
    an_expense.updateData(
        payment_date=date, 
        description=concept, 
        category=category, 
        sub_category=sub_category, 
        amount=amount, 
        payment_method=pay_method_type, 
        n_installments=installments,
        credit_card_used=credit_card_used
    )
    
def pivotData(data_frame, how='bimonthly'):
    
    date_ix = 'payment_'+('fortnight' if how =='bimonthly' else 'month')
    pivot = pd.pivot_table(
        data_frame, 
        values = 'installment_amount',
        columns='method_name',
        aggfunc='sum',
        index=[date_ix, 'category', 'sub_category']
    ).fillna(0)
    pivot['Total'] = pivot.sum(axis=1)

    pivot2 = pivot.copy()
    pivot2.drop('Total', axis=1, inplace=True)

    to_be_divided = ['Pixies', 'Super']
    for c in pivot2.columns:
        if c in to_be_divided:
            pivot2[c] /= 2

    pivot['MyTotal'] = pivot2.sum(axis=1)

    pivot.reset_index(inplace=True)
    
    return pivot

def list_payment_methods(credit_cards_list):
    payment_methods = []
    for cc in credit_cards_list:
        payment_methods.append(cc.alias_name)
    payment_methods.append('debit')
    payment_methods.append('cash')
    return payment_methods

def load_files_form(available_files):
    file_names = [f.split('/')[-1] for f in available_files]
    dialog = AvailableFilesForm(
        available_files = file_names
        #available_methods = payment_methods
    )
    result = -1
    if dialog.exec_() == AvailableFilesForm.Accepted:
        result = dialog.get_output()
    
    if result == -1:
        raise RuntimeError("Program Terminated")
    
    file_ix = result
    file_to_open = available_files[file_ix]
    
    return file_to_open

def is_num(char):
    """
    Receives a character and returns if the character is a number.
    Ex.
        'a' -> False
        '22' -> True
        '34.5' -> True
        '?' -> Flase
    """
    try:
        float(char)
        return True
    except ValueError:
        return False

# Load Data

In [3]:
def load_data_from_files():
    ccs = hlp.load_credit_cards()
    ccs_lst = list_payment_methods(ccs)

    data_dict = {}
    for i, file_to_open in enumerate(get_available_files()):
        dd = {}
        data, card_last_4_digits = load_file(file_to_open)
        dd['lst_4_digits'] = card_last_4_digits

        PAYMENT_METHOD_TYPE = 'credit' if card_last_4_digits in [cc.get_last_four_digits() for cc in ccs] else 'debit'
        CREDIT_CARD_USED = ccs[
            [cc.get_last_four_digits() for cc in ccs].index(card_last_4_digits)
        ] if PAYMENT_METHOD_TYPE == 'credit' else None

        if PAYMENT_METHOD_TYPE=='debit':
            data.iloc[:,2] = data.iloc[:,2]*-1

        dd['data'] = data
        dd['pay_method'] = PAYMENT_METHOD_TYPE
        dd['credit_card_object'] = CREDIT_CARD_USED

        data_dict[i] = dd
    print('Data Loaded Correctly')
    return data_dict

## Load current Data

In [4]:
def load_current_data_from_gsheet():
    global LAST_ID
    global EMPTY_DATA
    try:
        cur_inst_data = hlp.retrieveDataFromSheet(
            GSHEET, 
            GSHEET_ID, 
            sheet_name = 'data'
        )

        cur_inst_data['expense_id'] = cur_inst_data['expense_id'].astype(int)
        cur_inst_data['installment_amount'] = cur_inst_data['installment_amount'].str.replace(',', '').astype(float)
        cur_inst_data['expense_month'] = cur_inst_data['expense_month'].astype(int)
        cur_inst_data['payment_month'] = cur_inst_data['payment_month'].astype(int)
        cur_inst_data['installment_num'] = cur_inst_data['installment_num'].astype(str)
        cur_inst_data['total_installments'] = cur_inst_data['total_installments'].astype(int)

        cur_exp_data = hlp.retrieveDataFromSheet(
            GSHEET, 
            GSHEET_ID, 
            sheet_name = 'expenses'
        )

        cur_exp_data['expense_id'] = cur_exp_data['expense_id'].astype(int)
        cur_exp_data['amount'] = cur_exp_data['amount'].str.replace(',', '').astype(float)
        cur_exp_data['ignored'] = cur_exp_data['ignored'].astype(str)
        cur_exp_data['installments'] = cur_exp_data['installments'].astype(int)

        cur_exp_data['key'] = (
            cur_exp_data['expense_date'] +'_'+
            cur_exp_data['description']+'_'+
            round(cur_exp_data['amount'].astype(float)).astype(int).astype(str)
        )

        s1 = set(cur_exp_data['key'])
        LAST_ID = cur_exp_data['expense_id'].max()
        
        cur_exp_data.drop('key',axis=1, inplace=True)

        EMPTY_DATA=False

    except IndexError:
        EMPTY_DATA = True
        LAST_ID = 0
        s1 = set()
    
    return cur_inst_data, cur_exp_data, s1

In [5]:
def get_missing_data(data, set_of_cur_data):
    positive_data = data[data.iloc[:,2].astype(float)>0].copy()
    positive_data['key'] = (
        positive_data.iloc[:,0].astype(str)+'_'+
        positive_data.iloc[:,1]+'_'+
        round(positive_data.iloc[:,2].astype(float)).astype(int).astype(str)
    )

    s2 = set(positive_data['key'])
    
    missing_data = positive_data[
        ~positive_data['key'].isin(
            set_of_cur_data.intersection(s2)
        )
    ].reset_index(drop=True).drop('key', axis=1).copy()
    return missing_data

In [6]:
def init_dataframes():
    # Init Data Frames
    cols_1 = [
        "expense_id",
        "installment_amount",
        "expense_date", 
        "expense_month", 
        "payment_date", 
        "payment_month", 
        "total_installments", 
        "installment_num",
        "payment_method",
        "method_name",
        "category", 
        "sub_category",
        "payment_fortnight",
        "description"
    ]

    cols_2 = [
        "expense_id",
        "expense_date", 
        "description", 
        "amount",
        "installments",
        "ignored",
        "payment_method",
        "method_name"
    ]

    installments_df = pd.DataFrame(index=[0],columns=cols_1)
    expenses_df = pd.DataFrame(index=[0],columns=cols_2)
    return installments_df, expenses_df

# Log Expenses

In [7]:
def log_expenses(missing_data, payment_method_type, cc_used):
    print('logging expenses...')
    new_expenses = []
    main_cats, sub_cats = hlp.getCategoriesFromGSheet(GSHEET, GSHEET_ID)
    
    installments_df, expenses_df = init_dataframes()

    for ix, row in missing_data.iterrows():
        an_expense = Expense(this_id=(int(LAST_ID)+1)+ix)
        dialog = LogExpenseForm(
            categories = main_cats, 
            subcategories = sub_cats, 
            expense_date_str = str(row.iloc[0].date()),
            expense_description = row.iloc[1],
            expense_amount = str(row.iloc[2]),
            payment_type=payment_method_type,
            card_last_4_digits = cc_used.get_last_four_digits()
        )

        log_expense = None
        if dialog.exec_() == LogExpenseForm.Accepted:
            log_expense, cat, sub_cat, installments = dialog.get_output()

        if log_expense is None:
            break
        elif log_expense == 1:

            updateData(
                an_expense=an_expense, 
                row=row, 
                category=cat, 
                sub_category=sub_cat, 
                installments=installments,
                pay_method_type=payment_method_type, 
                credit_card_used=cc_used
            )
            sub_expenses = an_expense.divideExpense()
            installments_df = update_installments_data_frame(
                installments_df, 
                expenses = sub_expenses
            )
            expenses_df = update_expenses_data_frame(
                cur_df = expenses_df, 
                expense = an_expense, 
                ignored=False
            )
        else:
            updateData(
                an_expense=an_expense, 
                row=row, 
                category=cat, 
                sub_category=sub_cat, 
                installments=1,
                pay_method_type=payment_method_type, 
                credit_card_used=cc_used
            )
            expenses_df = update_expenses_data_frame(
                cur_df = expenses_df, 
                expense = an_expense, 
                ignored=True
            )

    return installments_df, expenses_df

In [8]:
def update_data_on_gsheet(cur_inst_data, cur_exp_data, new_installments_data, new_expenses_data):
    
    updated_inst_data = pd.concat(
        [cur_inst_data, new_installments_data], 
        ignore_index=True
    ) if not EMPTY_DATA else new_installments_data
    updated_inst_data.sort_values(by=['expense_date'], inplace=True)
    updated_inst_data.index = range(len(updated_inst_data))
    updated_inst_data.drop_duplicates(
        subset=['expense_date', 'description', 'installment_amount'],
        inplace=True
    )

    inst_values_list = hlp.dataFrameToListOfValues(updated_inst_data.dropna())

    GSHEET.clear_values(
        spreadsheet_id = GSHEET_ID,
        range_name = 'data'
    )

    GSHEET.values_to_gsheet(
        spreadsheet_id = GSHEET_ID,
        values_list=inst_values_list, 
        range_name='data'
    )
    
    updated_exp_data = pd.concat(
        [cur_exp_data, new_expenses_data], 
        ignore_index=True 
    )if not EMPTY_DATA else new_expenses_data
    updated_exp_data.sort_values(by=['expense_id'], inplace=True)
    updated_exp_data.index = range(len(updated_exp_data))
    updated_exp_data.drop_duplicates(
        subset=['expense_date', 'description', 'amount'],
        inplace=True
    )

    exp_values_list = hlp.dataFrameToListOfValues(updated_exp_data.dropna())

    GSHEET.clear_values(
        spreadsheet_id = GSHEET_ID,
        range_name = 'expenses'
    )

    GSHEET.values_to_gsheet(
        spreadsheet_id = GSHEET_ID,
        values_list=exp_values_list, 
        range_name='expenses'
    )
    
    # Pivot bimonthly (every 15 days)
    bimonthly_pivot = pivotData(updated_inst_data, how='bimonthly')
    bimonthly_values = hlp.dataFrameToListOfValues(bimonthly_pivot)
    GSHEET.clear_values(
        spreadsheet_id = GSHEET_ID,
        range_name = 'bimonthly pivot'
    )
    GSHEET.values_to_gsheet(
        spreadsheet_id = GSHEET_ID,
        values_list=bimonthly_values, 
        range_name='bimonthly pivot!A1'
    )

    # Pivot monthly
    monthly_pivot = pivotData(updated_inst_data, how='monthly')
    monthly_values = hlp.dataFrameToListOfValues(monthly_pivot)
    GSHEET.clear_values(
        spreadsheet_id = GSHEET_ID,
        range_name = 'monthly pivot'
    )
    GSHEET.values_to_gsheet(
        spreadsheet_id = GSHEET_ID,
        values_list=monthly_values, 
        range_name='monthly pivot!A1'
    )
    
    return updated_inst_data, updated_exp_data, bimonthly_pivot, monthly_pivot

In [10]:
data_sets_info

{0: {'lst_4_digits': '4703',
  'data':            0                        1        2
  0 2020-07-17          SUPERAMA DAKOTA  1675.96
  1 2020-07-12    AMAZON MX MARKETPLACE  1093.11
  3 2020-07-11    AMAZON MX MARKETPLACE   380.36
  4 2020-07-08      D LOCAL*CRUNCHYROLL    99.00
  5 2020-07-06  UBER EATS HELP.UBER.COM   201.00
  6 2020-07-02        PAYPAL *ADOBE INC   241.91,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f1650>},
 1: {'lst_4_digits': '8188',
  'data':             0                       2         3
  0  2020-07-23   AMAZON MX MARKETPLACE    426.80
  1  2020-07-23   AMAZON MX MARKETPLACE    153.53
  2  2020-07-23               AMAZON MX    264.57
  3  2020-07-21               AMAZON MX    565.27
  4  2020-07-21   AMAZON MX MARKETPLACE   2356.00
  5  2020-07-20        TELCEL MEXICO CR    348.99
  6  2020-07-17   AMAZON MX MARKETPLACE   -850.00
  7  2020-07-16   AMAZON MX MARKETPLACE    850.00
  8  2020-07-16   AMAZON MX MARKETPLACE   1050.72
  9  2020-07-15            STP RAPPI MX    203.00
  10 2020-07-15    PAGOS INTERBANCARIOS -14213.17
  11 2020-07-14             SANTA CLARA    116.00
  12 2020-07-13  S WORLD PATRIOTISMO VD   1619.17
  13 2020-07-12               AMAZON MX    100.98
  14 2020-07-12               AMAZON MX    561.46
  15 2020-07-11          APPLE.COM/BILL    410.00
  16 2020-07-10   AMAZON MX MARKETPLACE    502.06
  17 2020-07-09   AMAZON MX MARKETPLACE    987.66
  18 2020-07-08   AMAZON MX MARKETPLACE    290.00
  19 2020-07-08  Tecnologias Rappi S.A.    437.00
  20 2020-07-07         ADYENMX*RAPPI I    -27.97
  21 2020-07-07         ADYENMX*RAPPI I     27.97
  22 2020-07-07               AMAZON MX   1577.46
  23 2020-07-07   AMAZON MX MARKETPLACE   3586.33
  24 2020-07-01          APPLE.COM/BILL    179.00
  25 2020-06-30               AMAZON MX    853.07
  26 2020-06-22   AMAZON MX MARKETPLACE   1647.00
  27 2020-06-18        TELCEL MEXICO CR    348.99
  28 2020-06-17          CFE CONTIGO MU    230.00
  29 2020-06-15    PAGOS INTERBANCARIOS -13070.18
  30 2020-06-14               AMAZON MX    882.99
  31 2020-06-12  S WORLD PATRIOTISMO VD   1619.17
  32 2020-06-01          APPLE.COM/BILL   1000.00
  33 2020-06-01          APPLE.COM/BILL    162.00
  34 2020-06-01          APPLE.COM/BILL    190.00
  35 2020-05-31          APPLE.COM/BILL     17.00
  36 2020-05-31               AMAZON MX     40.00
  37 2020-05-30          APPLE.COM/BILL    300.00
  38 2020-05-30          APPLE.COM/BILL    189.00
  39 2020-05-25          APPLE.COM/BILL    630.00
  40 2020-05-25          APPLE.COM/BILL    120.00
  41 2020-05-25          APPLE.COM/BILL    130.00
  42 2020-05-24               AMAZON MX   7019.10
  43 2020-05-20   AMAZON MX MARKETPLACE    456.00
  44 2020-05-20               AMAZON MX    375.20
  45 2020-05-20    PAGOS INTERBANCARIOS  -6856.87
  46 2020-05-18        TELCEL MEXICO CR    348.99
  47 2020-05-13   AMAZON MX MARKETPLACE    236.14
  48 2020-05-13   AMAZON MX MARKETPLACE    237.58
  49 2020-05-13  S WORLD PATRIOTISMO VD   1619.17
  50 2020-05-12               AMAZON MX    157.62
  51 2020-05-12               AMAZON MX    322.41
  52 2020-05-07   AMAZON MX MARKETPLACE    368.76
  53 2020-05-04               AMAZON MX     73.28
  54 2020-05-04   AMAZON MX MARKETPLACE    163.19
  55 2020-05-04               AMAZON MX    304.70
  56 2020-05-01          APPLE.COM/BILL     17.00,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204c4590>},
 2: {'lst_4_digits': '8416',
  'data':            0                    1      2
  0 2020-07-24  YAMASAN RAMEN HOUSE  135.0
  1 2020-07-24  OP DE ALIMENTOS JNF  250.0,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204c4bd0>},
 3: {'lst_4_digits': '8440',
  'data':             0                       1        2
  0  2020-07-23     02 DE 06 HOME DEPOT   650.00
  1  2020-07-19          STP CORNERSHOP   175.29
  2  2020-07-19          STP CORNERSHOP   707.04
  3  2020-07-13              HOME DEPOT  1174.84
  4  2020-07-13          STP CORNERSHOP   588.54
  5  2020-07-12          STP CORNERSHOP   514.39
  6  2020-07-12          STP CORNERSHOP   286.98
  7  2020-07-12          STP CORNERSHOP   731.85
  8  2020-07-10  EL CALIFA INSUGENTES D   462.98
  9  2020-07-09          STP CORNERSHOP    99.00
  10 2020-07-05          STP CORNERSHOP   585.69
  11 2020-07-05          STP CORNERSHOP   682.30
  12 2020-07-02          STP CORNERSHOP   410.39
  13 2020-06-27          STP CORNERSHOP    84.10
  14 2020-06-27          STP CORNERSHOP   649.60
  15 2020-06-27          STP CORNERSHOP   488.84
  16 2020-06-25              HOME DEPOT  1298.03
  17 2020-06-25               AMAZON MX   230.40
  18 2020-06-25              HOME DEPOT   394.00
  19 2020-06-25   AMAZON MX MARKETPLACE   629.53
  20 2020-06-24              HOME DEPOT  3047.00
  21 2020-06-23          STP CORNERSHOP  2001.86,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f1e10>},
 4: {'lst_4_digits': '3706',
  'data':            0                               1       2
  0 2020-07-23  04 DE 06 OFFICE DEPOT INTERNET   867.0
  1 2020-07-23     02 DE 06 PAGOCON*GAIADESIGN  1308.0
  2 2020-07-20                      HOME DEPOT  1307.5
  3 2020-07-06                ADYENMX*JUSTO II   769.8,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f15d0>},
 5: {'lst_4_digits': '8416',
  'data':             0                               1        2
  0  2020-06-23             01 DE 06 HOME DEPOT   656.00
  1  2020-06-20            LE PAIN QUOTIDIEN NY   182.00
  2  2020-06-19          EL CALIFA INSUGENTES D   456.50
  3  2020-06-14                    MERCADO PAGO   720.00
  4  2020-06-14                      HOME DEPOT   844.81
  5  2020-06-13          EL CALIFA INSUGENTES D   392.00
  6  2020-06-11                 SUPERAMA DAKOTA    54.00
  7  2020-06-07                      HOME DEPOT  1425.39
  8  2020-06-05                 OXXOCHICAGO MEX    98.00
  9  2020-06-05                      HOME DEPOT    85.00
  10 2020-06-05  HOME DEPOT      A 06 MESES S/I  3935.36
  11 2020-05-28              WAX REVOLUTION CON    55.00
  12 2020-05-25                 SUPERAMA DAKOTA   728.40,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204c4bd0>},
 6: {'lst_4_digits': '4703',
  'data':             0                               1       2
  0  2020-06-23  06 DE 06 CAMZNMARKETPLACEMXINS  621.78
  2  2020-06-11                       AMAZON MX  991.00
  3  2020-06-11                       AMAZON MX  390.06
  4  2020-06-10           AMAZON MX MARKETPLACE  285.28
  5  2020-06-08             D LOCAL*CRUNCHYROLL   99.00
  6  2020-06-07         UBER EATS HELP.UBER.COM  267.00
  7  2020-06-02               STP BELOPET B5388  748.00
  8  2020-06-02               PAYPAL *ADOBE INC  233.36
  9  2020-05-31         UBER EATS HELP.UBER.COM  235.00
  10 2020-05-31         UBER EATS HELP.UBER.COM  184.00
  12 2020-05-28                    MERCADO PAGO  490.00
  13 2020-05-25            CGO.ACLAR.4027159308  231.00
  14 2020-05-25         UBER TRIP HELP.UBER.COM  186.98
  15 2020-05-23         UBER TRIP HELP.UBER.COM  129.51
  16 2020-05-23         UBER EATS HELP.UBER.COM  422.00
  17 2020-05-23         UBER TRIP HELP.UBER.COM   15.00,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f1650>},
 7: {'lst_4_digits': '8416',
  'data':            0                       1       2
  0 2020-07-23     02 DE 06 HOME DEPOT  656.00
  1 2020-07-22        GNC WTC B JUAREZ  859.70
  2 2020-07-22         SUPERAMA DAKOTA  605.17
  3 2020-07-22    REST EL CARDENAL NAP  110.00
  4 2020-07-18  EL CALIFA INSUGENTES D  470.00
  5 2020-06-28            STP RAPPI MX  379.00
  6 2020-06-28            STP RAPPI MX  200.00
  7 2020-06-28         ADYENMX*RAPPI I   15.46
  9 2020-06-25     WAL MART INTERLOMAS  215.30,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204c4bd0>},
 8: {'lst_4_digits': '8440',
  'data':            0                  1       2
  0 2020-07-27  STRIPE*CORNERSHOP  350.83
  1 2020-07-27  STRIPE*CORNERSHOP  626.43
  2 2020-07-25    FERRETERIA SAJI   48.00
  3 2020-07-24    FERRETERIA SAJI   15.00,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f1e10>},
 9: {'lst_4_digits': '3706',
  'data':            0                               1        2
  0 2020-06-23  03 DE 06 OFFICE DEPOT INTERNET   867.00
  1 2020-06-23     01 DE 06 PAGOCON*GAIADESIGN  1308.00
  3 2020-06-06                      HOME DEPOT   448.20
  4 2020-06-03           DOMESTIKA INTERACTIVA   189.15
  5 2020-05-28                      HOME DEPOT   960.00
  6 2020-05-23  PAGOCON*GAIADESIGN    A 06 MSI  7847.00,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f15d0>},
 10: {'lst_4_digits': '8440',
  'data':             0                               1        2
  0  2020-06-23             01 DE 06 HOME DEPOT   650.00
  1  2020-06-21          CITYMARKET PILARES SUP  1590.46
  2  2020-06-20            LE PAIN QUOTIDIEN NY   198.00
  3  2020-06-20                  STP CORNERSHOP    83.00
  4  2020-06-20                  STP CORNERSHOP   362.03
  5  2020-06-18                 OXXOCHICAGO MEX   126.00
  6  2020-06-14                  STP CORNERSHOP  1002.03
  7  2020-06-14  HOME DEPOT      A 06 MESES S/I  3897.99
  8  2020-06-14                  STP CORNERSHOP   479.31
  9  2020-06-11                 SUPERAMA DAKOTA   104.90
  10 2020-06-09                  STP CORNERSHOP    99.00
  11 2020-06-07                  STP CORNERSHOP   300.81
  12 2020-06-07                  STP CORNERSHOP  1331.91
  13 2020-05-31               CITY MARKET LOMAS   728.78
  14 2020-05-31                 OXXOCHICAGO MEX   126.00
  15 2020-05-24                  STP CORNERSHOP   708.23
  16 2020-05-24                  STP CORNERSHOP  1392.92,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f1e10>},
 11: {'lst_4_digits': '4703',
  'data':            0                1     2
  0 2020-07-24  MUEVE CIUDAD CR  50.0,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f1650>},
 12: {'lst_4_digits': '3706',
  'data':            0                1     2
  0 2020-07-06  ADYENMX*JUSTO I  20.0,
  'pay_method': 'credit',
  'credit_card_object': <credit_card_object.CreditCard at 0x1204f15d0>},
 13: {'lst_4_digits': '0000',
  'data':             0                                                  1         2
  1  2020-06-30  PAGO TARJETA DE CREDITO   /  0044299012     CU...  23538.28
  3  2020-06-19  SUPERAMA DAKOTA      CASH / ******9603      RF...   2002.97
  4  2020-06-15  SPEI ENVIADO STP          / 0075250599  646 15...   2000.00
  5  2020-06-15  PAGO INTERBANCARIO TDC    /  0035756006       ...  13070.18
  8  2020-06-14  SPEI ENVIADO HSBC         / 0074802586  021 14...   1520.00
  9  2020-06-12  GNC WTC B JUAREZ          / ******9603      RF...    279.90
  10 2020-06-11  COMISION POR MEMBRESIA    / 11MAY20/10JUN20 RE...      0.01
  11 2020-06-08  EFECTIVO SEGURO BANCOMER  / P0AB8CES01LP    RE...     70.00
  12 2020-06-02  PAGO CUENTA DE TERCERO    /  0095976644     BN...    200.00
  13 2020-06-01  PAGO CUENTA DE TERCERO    /  9996488904     BN...  20000.00,
  'pay_method': 'debit',
  'credit_card_object': None},
 14: {'lst_4_digits': '0000',
  'data':             0                                                  1         2
  0  2020-07-22  YZA ROCHESTER             / ******9603      RF...    352.99
  1  2020-07-22  LE PAIN QUOTIDIEN NY      / ******9603      RF...    438.00
  3  2020-07-21  PAGO CUENTA DE TERCERO    /  4325537983     BN...   1200.00
  4  2020-07-15  OXXONUEVA YORK MEX        / ******9603      RF...     88.00
  5  2020-07-15  PAGO INTERBANCARIO TDC    /  0034766006       ...  14213.17
  8  2020-07-13  GASOL GRUPO DAESA         / ******9603      RF...    734.40
  9  2020-07-12  RETIRO CAJERO AUTOMATICO  / ******9603      JU...   3000.00
  10 2020-07-06  EFECTIVO SEGURO BANCOMER  / P0AB8CES01LP    RE...     70.00
  11 2020-07-01  PAGO CUENTA DE TERCERO    /  2582911137     BN...  20000.00,
  'pay_method': 'debit',
  'credit_card_object': None}}

In [9]:
# Run whole process
data_sets_info = load_data_from_files()

for ix, val in data_sets_info.items():
    data = val['data']
    
    cur_inst_data, cur_exp_data, s1 = load_current_data_from_gsheet()
    data_to_upload = get_missing_data(data=data, set_of_cur_data=s1)
    installments_df, expenses_df = log_expenses(
        missing_data=data_to_upload, 
        payment_method_type = val['pay_method'],
        cc_used = val['credit_card_object']
    )
    updated_inst_data, updated_exp_data, bimonthly_pivot, monthly_pivot = update_data_on_gsheet(
        cur_inst_data = cur_inst_data, 
        cur_exp_data = cur_exp_data, 
        new_installments_data = installments_df, 
        new_expenses_data = expenses_df
    )

Data Loaded Correctly
logging expenses...
7336 cells updated.
4736 cells updated.
1870 cells updated.
1342 cells updated.
logging expenses...
7518 cells updated.
4856 cells updated.
1947 cells updated.
1397 cells updated.
logging expenses...
7546 cells updated.
4872 cells updated.
1958 cells updated.
1397 cells updated.
logging expenses...
7672 cells updated.
4952 cells updated.
1969 cells updated.
1397 cells updated.
logging expenses...
7686 cells updated.
4976 cells updated.
1969 cells updated.
1397 cells updated.
logging expenses...
7686 cells updated.
4976 cells updated.
1969 cells updated.
1397 cells updated.
logging expenses...
7686 cells updated.
4976 cells updated.
1969 cells updated.
1397 cells updated.
logging expenses...
7742 cells updated.
5016 cells updated.
1980 cells updated.
1408 cells updated.
logging expenses...
7798 cells updated.
5048 cells updated.
2002 cells updated.
1408 cells updated.
logging expenses...
7798 cells updated.
5048 cells updated.
2002 cells updated.
1408 cells updated.
logging expenses...
7798 cells updated.
5048 cells updated.
2002 cells updated.
1408 cells updated.
logging expenses...
7812 cells updated.
5056 cells updated.
2013 cells updated.
1419 cells updated.
logging expenses...
7812 cells updated.
5056 cells updated.
2013 cells updated.
1419 cells updated.
logging expenses...
7812 cells updated.
5056 cells updated.
2013 cells updated.
1419 cells updated.
logging expenses...

AttributeError: 'NoneType' object has no attribute 'get_last_four_digits'

In [ ]:
raise Exception

# Manually Analyze expenses

In [13]:
updated_inst_data[
    (updated_inst_data['payment_fortnight'] == '2020-02-29')&
    (updated_inst_data['method_name']=='Bancomer-Platinum')
][['installment_amount', 'expense_date', 'payment_fortnight', 'description']]

,installment_amount,expense_date,payment_fortnight,description
209,495,2020-01-23,2020-02-29,01 DE 03 SUPERAMA DAKOTA
210,626,2020-01-23,2020-02-29,01 DE 06 CAMZNMARKETPLACEMXINS
211,357,2020-01-23,2020-02-29,01 DE 03 SUPERAMA DAKOTA
212,621.36,2020-01-23,2020-02-29,06 DE 06 CAMZNRETAILMXINSTALLM
213,400,2020-01-23,2020-02-29,04 DE 06 EL PALACIO HIERRO POL
214,1159,2020-01-23,2020-02-29,03 DE 03 OPENPAY*COLCHONES ONL
215,218.85,2020-01-23,2020-02-29,AMAZON MX
217,62.96,2020-01-24,2020-02-29,UBER TRIP HELP.UBER.COM
218,356,2020-01-25,2020-02-29,REST FLASH TACO
219,151,2020-01-26,2020-02-29,TOSTADAS AMATISTA
221,191,2020-01-27,2020-02-29,REST CALDOS DE LEO
225,159,2020-01-28,2020-02-29,SEARS WORLD TRADE
227,219.28,2020-01-30,2020-02-29,AMAZON MX MARKETPLACE
228,583.87,2020-01-30,2020-02-29,AMAZON MX MARKETPLACE
230,749,2020-01-30,2020-02-29,AMAZON MX MARKETPLACE
231,182,2020-01-30,2020-02-29,CARLS JR CERVANTES
232,66.96,2020-02-01,2020-02-29,UBER TRIP HELP.UBER.COM
233,660,2020-02-01,2020-02-29,HOP THE BEER 2
234,37.57,2020-02-01,2020-02-29,UBER TRIP HELP.UBER.COM
235,1238.5,2020-02-03,2020-02-29,FIORENTINA DELTA
236,616,2020-02-03,2020-02-29,SUPERAMA DAKOTA
237,669.8,2020-02-03,2020-02-29,GNC WTC B JUAREZ
238,510.96,2020-02-03,2020-02-29,SUPERAMA DAKOTA
241,264.15,2020-02-05,2020-02-29,SUPERAMA DAKOTA
242,58.15,2020-02-05,2020-02-29,UBER TRIP HELP.UBER.COM
244,123.2,2020-02-06,2020-02-29,CAFEBRERIA EL PENDULO
245,776,2020-02-06,2020-02-29,GANDHI POLANCO
246,229.8,2020-02-06,2020-02-29,MINISO CHEDRAUI POLANC
247,100,2020-02-07,2020-02-29,MUEVE CIUDAD CR
248,940,2020-02-08,2020-02-29,GASOL GRUPO DAESA
251,647.7,2020-02-08,2020-02-29,SUPERAMA DAKOTA
253,193.5,2020-02-09,2020-02-29,DECATHLON ANGEL RELOX
258,99,2020-02-09,2020-02-29,D LOCAL*CRUNCHYROLL
259,799,2020-02-09,2020-02-29,DECATHLON ANGEL R
261,99,2020-02-09,2020-02-29,D LOCAL*CRUNCHYRO
262,300,2020-02-10,2020-02-29,PASE PREPAGO APP CR232
265,257,2020-02-10,2020-02-29,UBER EATS HELP.UBER.COM
269,237,2020-02-12,2020-02-29,SUPERAMA LOS MORALES
271,86.57,2020-02-13,2020-02-29,UBER TRIP HELP.UBER.COM
274,1736.53,2020-02-14,2020-02-29,CITY MARKET LOMAS
280,36.06,2020-02-17,2020-02-29,UBER TRIP HELP.UBER.COM
283,36.06,2020-02-17,2020-02-29,UBER TRIP HELP.UB
285,1485,2020-02-19,2020-02-29,REST GALANGA MONTERREY
287,100.99,2020-02-22,2020-02-29,UBER TRIP HELP.UBER.COM
288,45.9,2020-02-22,2020-02-29,UBER TRIP HELP.UBER.COM
289,2141.09,2020-02-22,2020-02-29,CITY MARKET PILARES
290,896.5,2020-02-22,2020-02-29,REST TOP JAZZ VENUE

In [49]:
updated_inst_data.columns

Index(['expense_id', 'installment_amount', 'expense_date', 'expense_month',
       'payment_date', 'payment_month', 'total_installments',
       'installment_num', 'payment_method', 'method_name', 'category',
       'sub_category', 'payment_fortnight', 'description'],
      dtype='object')

In [50]:
updated_inst_data['sub_category'].unique()

array(['Other', 'Books', 'Super Market', 'Restaurants', 'Vitamins',
       'Take-out and bingeing', 'Personal Care', 'Hobbies',
       'Stuff for me', 'Clothing', 'Gifts', 'Stuff for the Apartment',
       'Medicine', 'Gas', 'Supplements', 'Coffe', 'Haircut',
       'Socializing and Bars', 'Services', nan], dtype=object)

In [75]:
updated_inst_data[
    (pd.to_datetime(updated_inst_data['expense_date']).dt.month==2)&
    (pd.to_datetime(updated_inst_data['expense_date']).dt.year==2020)&
    #(updated_inst_data['method_name']=='Bancomer-Platinum')&
    (updated_inst_data['sub_category']=='Super Market')
    
][['installment_amount', 'expense_date', 'description']]['installment_amount'].sum() - 1736

3868.9400000000005

In [68]:
updated_inst_data[
    #(pd.to_datetime(updated_inst_data['expense_date']).dt.month==2)&
    #(pd.to_datetime(updated_inst_data['expense_date']).dt.year==2020)&
    #(updated_inst_data['method_name']=='Bancomer-Platinum')&
    #(updated_inst_data['sub_category']=='Super Market')&
    (updated_inst_data['description'].str.contains('CITY MARKET'))&
    (updated_inst_data['installment_amount']>2000)
    
]

,expense_id,installment_amount,expense_date,expense_month,payment_date,payment_month,total_installments,installment_num,payment_method,method_name,category,sub_category,payment_fortnight,description
289,338,2141.09,2020-02-22,202002,2020-02-29,202002,1,0,credit,Bancomer-Platinum,Food,Restaurants,2020-02-29,CITY MARKET PILARES

In [15]:
updated_exp_data[
    (~updated_exp_data['description'].isnull())&
    (updated_exp_data['description'].str.contains('GALANGA'))
]

,expense_id,expense_date,description,amount,installments,ignored,payment_method,method_name
299,300,2020-02-19,REST GALANGA MONTERREY,1485,1,FALSE,credit,Bancomer-Platinum
308,309,2019-12-19,REST GALANGA MONTERREY,1284,1,FALSE,credit,Bancomer-Platinum

In [16]:
updated_inst_data[updated_inst_data['expense_id']==381]

Empty DataFrame
Columns: [expense_id, installment_amount, expense_date, expense_month, payment_date, payment_month, total_installments, installment_num, payment_method, method_name, category, sub_category, payment_fortnight, description]
Index: []

In [17]:
updated_exp_data[updated_exp_data['method_name']=='Bancomer-Platinum'].sort_values(by='expense_date', ascending==False)

SyntaxError: positional argument follows keyword argument (<ipython-input-17-fb56c2261450>, line 1)

In [ ]:
installments_df

In [ ]:
updated_inst_data

In [ ]:
updated_exp_data.drop(updated_exp_data[
    (~updated_exp_data['expense_id'].isin(updated_inst_data['expense_id'].unique()))&
    ((updated_exp_data['ignored']==False) | (updated_exp_data['ignored']=='FALSE'))
].index, inplace=True)

In [ ]:
updated_exp_data.sort_values(by=['expense_id'], inplace=True)
updated_exp_data.index = range(len(updated_exp_data))
updated_exp_data.drop_duplicates(
    subset=['expense_date', 'description', 'amount'],
    inplace=True
)

exp_values_list = hlp.dataFrameToListOfValues(updated_exp_data.dropna())

gsheet.clear_values(
    spreadsheet_id = GSHEET_ID,
    range_name = 'expenses'
)

gsheet.values_to_gsheet(
    spreadsheet_id = GSHEET_ID,
    values_list=exp_values_list, 
    range_name='expenses'
)